body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-top: 10px;
}

.floatL {
    float:left;
    display: block;
}

.floatR {
    float:right;
    display: block;
}

.center {
    margin: auto;
    display: table;
}


.square {
    /*width: calc(650px / 16);
    height: calc(650px / 16);*/
    background-color: #E67E22;
    float: left;
    display:block;
}


#container {
    height: 650px;
    width: 650px;
    overflow: hidden;
}

#topbar {
    width: 650px;
    height: 70px;
}

button {
    position:relative;
    border-style: none;
    height: 30px;
    padding: 5px;
    margin: 20px 10px 0px 0px;
    font-size: 16px;
}

#resetgrid {
    margin-right: 0px;
}

.colorbuttons {
    width: 30px;
}

.colorbuttons:hover {
    opacity: .7;
    border: 1px solid black;
}

.typicalbutton {
    background-color: #59abe3;
    top: -3px;
}

#random {
    background-color: purple;
    color: white;
}

.typicalbutton:hover {
    background-color: #c5eff7;
}

#red {
    background-color: #d91e18;
}

#blue {
    background-color: #4183d7;
}

#green {
    background-color: #26a65b;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
