body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.floatL {
    float:left;
    display: block;
}

.floatR {
    float:right;
    display: block;
}

.center {
    margin: auto;
    display: table;
}


.square {
    /*width: calc(650px / 16);
    height: calc(650px / 16);*/
    background-color: #E67E22;
    float: left;
    display:block;
}


#container {
    height: 650px;
    width: 650px;
}

#topbar {
    width: 650px;
}
